html,
body{
    margin: 0;
    padding: 0;
    background-color: rgb(29, 79, 51);
    color: whitesmoke;

}
nav{
    background-color:rgb(29, 79, 51);
    padding: 15px ;
}
a{
    text-decoration: none;
}
ul li a { 
    color: rgb(245, 173, 6);
}
nav a:hover {
    color: whitesmoke;
    text-decoration-color: whitesmoke;
}

ul{
    list-style: none;
}
li{
    display: inline-block;
    margin-left: 25px;
    margin-right: 0px;;
    color: whitesmoke;
}

.bannerline{
    text-align: center;
    background-color: rgb(156, 103, 33);
    color: rgb(245, 173, 6) ;
    padding: 6px;
}

h1{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(245, 173, 6);
}
#logo1{
    align-items: center;
    width: 100%;
    height: 970px;
}

.banner2{

    text-align: center;
    background-color: rgb(156, 103, 33);
    color: rgb(245, 173, 6) ;
    padding: 6px;
    margin-top: 5px
}

h2{
    color:rgb(245, 173, 6);
}

.set2{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20;
}
#span1{
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 5px;
}
#icons{
    height: 100px;
    width: 100px;
}

.set3{
    text-align: center;
}
#span2{
    display: inline-block;
    margin-left: 100px;
}
#maps{
    height: 250px;
    width: 300px;
    margin-top: 10px;
}

.linkmap{
    text-decoration: none;
}

.linkmaps{
    color: rgb(245, 173, 6);
}
h3:hover {
    color: rgb(245, 173, 6);
    
}
h3 a{
    color: whitesmoke;
}
h3 a:hover {
    color:rgb(245, 173, 6);
    text-decoration-color: whitesmoke;
}